<p id="notice"><%= notice %></p>

<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Prospect</th>
      <th>Seats</th>
      <th>Product technology</th>
      <th>Potential business</th>
      <th>Start date</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.prospect %></td>
        <td><%= business.seats %></td>
        <td><%= business.product_technology %></td>
        <td><%= business.potential_business %></td>
        <td><%= business.start_date %></td>
        <td><%= business.comment %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
