<p id="notice"><%= notice %></p>

<p>
  <strong>Prospect:</strong>
  <%= @business.prospect %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @business.seats %>
</p>

<p>
  <strong>Product technology:</strong>
  <%= @business.product_technology %>
</p>

<p>
  <strong>Potential business:</strong>
  <%= @business.potential_business %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @business.start_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @business.comment %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
