<%= form_for(@marketing) do |f| %>
  <% if @marketing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marketing.errors.count, "error") %> prohibited this marketing from being saved:</h2>

      <ul>
      <% @marketing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :article %><br>
    <%= f.text_area :article %>
  </div>
  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_area :event_name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.datetime_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :screencast %><br>
    <%= f.text_area :screencast %>
  </div>
  <div class="field">
    <%= f.label :priority_marketing %><br>
    <%= f.number_field :priority_marketing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
