<p id="notice"><%= notice %></p>

<h1>Listing Marketings</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Article</th>
      <th>Event name</th>
      <th>Event date</th>
      <th>Screencast</th>
      <th>Priority marketing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketings.each do |marketing| %>
      <tr>
        <td><%= marketing.product_name %></td>
        <td><%= marketing.article %></td>
        <td><%= marketing.event_name %></td>
        <td><%= marketing.event_date %></td>
        <td><%= marketing.screencast %></td>
        <td><%= marketing.priority_marketing %></td>
        <td><%= link_to 'Show', marketing %></td>
        <td><%= link_to 'Edit', edit_marketing_path(marketing) %></td>
        <td><%= link_to 'Destroy', marketing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketing', new_marketing_path %>
