<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @marketing.product_name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @marketing.article %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @marketing.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @marketing.event_date %>
</p>

<p>
  <strong>Screencast:</strong>
  <%= @marketing.screencast %>
</p>

<p>
  <strong>Priority marketing:</strong>
  <%= @marketing.priority_marketing %>
</p>

<%= link_to 'Edit', edit_marketing_path(@marketing) %> |
<%= link_to 'Back', marketings_path %>
